<div class="orderBox row">
  <div class="col s12">
    <h1>The Ultimate Burger</h1>
    <form class="create-form">
      <h3><i class="far fa-clipboard fa-2x"> Order a burger</i></h3>
      <div class="form-group">
        <input type="text" id="bb" name="name" placeholder="Enter in a burger">
      </div>

      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit Order</button>
    </form>
  </div>
  {{!-- <div class="row"> --}}
    <div class="col s12">
      <div class="orderedbox">
        <h2>Burgers ordered!</h2>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
	{{burger_name}}

	<button class="devoured-btn btn waves-effect green btn-large" type="submit" name="action" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}ORDER AGAIN{{/if}}
	</button>

	<button class="delete-btn btn waves-effect red lighten-1 btn-large" type="submit" name="action" data-id="{{this.id}}">DELETE</button>
</li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col s12">

      <div class="orderagainbox">
        <h2>Do you want to order again?</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li>
	{{burger_name}}

	

	<button class="delete-btn btn waves-effect red lighten-1 btn-large" type="submit" name="action" data-id="{{this.id}}">Devour</button>
</li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{!-- </div> --}}